:root {
    --layout-top-nav-height: 40px;
    --layout-sidebar-width: 45px;
    --layout-sidebar-item-height: 60px;
  }

.app-body{
    height: 100%;
    background-color: #282c34;
    color: white;
  }
  
.app-page{
    position: absolute;
    padding-top: var(--layout-top-nav-height);
    padding-left: var(--layout-sidebar-width);
    width: 100%;
    height: 100%;
} 